footer{
  background-color: white;
  z-index: 1;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding-bottom: 0.2rem; 
}

footer > .footer-icons{
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
  margin-bottom: 0.3rem;
}


.footer-icons > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}


.footer-icons > a > h4 {
  text-align: center;
  font-size: 0.75rem;
  margin: 0rem 0rem;
}


/* CheckOut Footer */
.checkout-items{
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  padding: 0.3rem 0rem
}

.checkout-items > h4{
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.checkout-items > button{
  margin: 0rem 0.2rem;
  margin-top: 0.1rem;
  font-size: 1rem;
  width: 70%;
  padding: 1rem 0rem;
  background-color: lightsalmon;
  color: beige;
  border: none;
  border-radius: 0.5rem;
}

/* Product Item */
.product-item{
  display: flex;
  justify-content: center;
  padding: 0.9rem 0rem;
}

.product-item > .sort-item{
  width: 50%;
  font-size: 1.2rem;
  border-right: 0.3px solid gray;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-item > .filter-item{
  width: 50%;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Product Page Footer */
.product-page-item{
  display: flex;
  justify-content: center;
  /* padding: 1rem 0rem; */
  margin-bottom: 0.2rem;
  border-top: 0.3px solid gray;
}

.product-page-item > .wish-btn{
  width: 50%;
  font-size: 0.95rem;
  font-weight: 700;
  padding: 1.5rem 0rem;
  border-right: 0.3px solid gray;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-page-item > .cart-btn{
  width: 50%;
  font-size: 0.95rem;
  font-weight: 700;
  padding: 1.5rem 0rem;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (min-width: 500px) {
  footer{
    display: none;
  }
}